<div class="container">
    <%= @message %>
    <br><br>
    <% unless @results.length.zero?%>
      <table id="show-table" class="table table-dark">
          <tr class="table-primary">
            <th>Факториал</th>
            <th>Значение факториала</th>
            <th>Тройка чисел</th>
          </tr>
          <% @results.each do |object| %>
            <tr class="table-secondary">
              <td><%= object.factorial_number %></td>
              <td><%= object.factorial_value %></td>
              <td><%= object.three_numbers %></td>
            </tr>
          <% end %>
      </table>
    <% end %>  
</div>